body {
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
}
#navbar {
  padding: 0;
  border-radius: 0.5%;
  font-family: nunito;
}
.container {
  border: solid;
  border-radius: 0.5%;
  margin: 50px auto;
  font-family: nunito;
  width: fit-content;
  height: fit-content;
}
#current-city {
  text-decoration: underline;
  line-height: 2;
  font-size: 30px;
}

#time {
  font-size: 25px;
}

#current-temp {
  text-align: right;
  line-height: 2;
  font-size: 35px;
}

ul {
  list-style: none;
  display: block;
  text-align: right;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

#five-day-forecast {
  font-size: 25px;
  line-height: 2;
  text-align: center;
  border: solid;
  margin: 10px;
}
#day-one,
#day-two,
#day-three,
#day-four,
#day-five {
  text-decoration: underline;
}

a {
  font-family: nunito;
  display: block;
  text-align: center;
  color: rgb(1, 10, 54);
}
